@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  text-decoration: underline;
  line-height: 0.8;
  color: #ad1d28;
}

body {
  background-color: #fff;
  font-family: arial, sans-serif;
  font-size: 10px;
  font-style: 
}

.span4 form.well {
	background-color: #a0a0a0;
	border: 1px solid blue;
}

.span4 form.well {
	background-color: #a0a0a0;
	border: 1px solid blue;
}

.span3 {
	margin: 10px;
}

.span4 form.well {
	background-color: #a0a0a0;
	border: 1px solid blue;
}

.span6 form.well {
	background-color: #a0a0a0;
	border: 1px solid blue;
}

.span8 form.well {
	background-color: #a0a0a0;
	border: 1px solid blue;
}

.span9 form.well {
	background-color: #a0a0a0;
	border: 1px solid blue;
}

.span12 {
	background-color: #fff;
	text-align: center;
}

.submit-button .btn {
	background-color: #fff;
	font-size: large;
}

.control-label {
	font-size: 14px;
	font-weight: bold;
}

.results .span3 {
	background-color: yellow;
}
